@font-face
{
font-family: pixel;
src: url(../font/double_pixel-7.ttf);
}
*{
  font-family: pixel;
}
body{
  background-image: url(https://images7.alphacoders.com/310/310611.jpg);
  background-size: cover;
}
#pokedex{
  float: right;
  position: absolute;
  top: 2px;
  right:2px;
  background-color: white;
}
tr{
  color: black;
}
#pokemon-list{
  float: right;
  position: absolute;
  top: 2px;
  right:2px;
  width: 30%;
  background-color: white;
}
#pokemon-list td{
  font-size: 30px;
}
ul li p{
  display: inline;
  font-size: 30px;
}
ul li{
    margin-right: 1%;
}

#HUD li{
  padding: 2px;
  list-style: none;
  display: inline;
}
#HUD li img{
  width: 50px;
}
